<footer class="footer">
  <div class="footer-copyright">
      <!--Start Footer Copyright-->
      <div class="container">
          <!--Start Container-->
          <div class="row">
              <div class="col-sm-4">
                  <div class="copyright-text">
                      <p class="text-left">&copy; 2018. All rights reserved.</p>
                  </div>
              </div>
              <div class="col-sm-6">
                  <ul class="footer-menu text-right">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Promotions</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div>                        
          </div>
      </div>
      <!--End Container-->
  </div>
  <!--End Footer Copyright-->
</footer>