<section class="main-slider">
    <!--Start Slider Section-->
    <div id="slide-carousel" class="carousel slide" data-ride="carousel">
        <!--Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#slide-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#slide-carousel" data-slide-to="1"></li>
            <li data-target="#slide-carousel" data-slide-to="2"></li>
        </ol>

        <!--Start Wrapper for Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <!--Start Slide Item-->
                <div class="slide-content">
                    <h2 class="text-center animated fadeInUp">WELCOME TO GLORIOUS</h2>
                    <h1 class="text-center extra animated fadeInUp">WE PROVIDE PROFESSIONAL B2B SERVICES</h1>
                    <p class="text-center animated fadeInDown">The Corporation was incorporated in Canada on December 24, 2015, under the name Glorious Creation Limited, and was registered as an extraprovincial company in British Columbia on January 28, 2016. </p>
                    <div class="slide-btn">
                        <span><button type="button" class="btn btn-default animated fadeInLeft">get started</button></span>
                        <span><button type="button" class="btn btn-default right animated fadeInRight">Plans and Pricing</button></span>
                    </div>
                </div>
            </div>
            <!--End Slide Item-->

            <div class="item">
                <!--Start Slide Item-->
                <div class="slide-content">
                    <h2 class="text-center animated fadeInUp">WELCOME TO GLORIOUS</h2>
                    <h1 class="text-center extra animated fadeInUp">WE PROVIDE PROFESSIONAL B2B SERVICES</h1>
                    <p class="text-center animated fadeInDown">The Corporation was incorporated in Canada on December 24, 2015, under the name Glorious Creation Limited, and was registered as an extraprovincial company in British Columbia on January 28, 2016. </p>
                    <div class="slide-btn">
                        <span><button type="button" class="btn btn-default animated fadeInLeft">get started</button></span>
                        <span><button type="button" class="btn btn-default right animated fadeInRight">Plans and Pricing</button></span>
                    </div>
                </div>
            </div>
            <!--End Slide Item-->

            <div class="item">
                <!--Start Slide Item-->
                <div class="slide-content">
                    <h2 class="text-center animated fadeInUp">WELCOME TO GLORIOUS</h2>
                    <h1 class="text-center extra animated fadeInUp">WE PROVIDE PROFESSIONAL B2B SERVICES</h1>
                    <p class="text-center animated fadeInDown">The Corporation was incorporated in Canada on December 24, 2015, under the name Glorious Creation Limited, and was registered as an extraprovincial company in British Columbia on January 28, 2016. </p>
                    <div class="slide-btn">
                        <span><button type="button" class="btn btn-default animated fadeInLeft">get started</button></span>
                        <span><button type="button" class="btn btn-default right animated fadeInRight">Plans and Pricing</button></span>
                    </div>
                </div>
            </div>
            <!--End Slide Item-->
        </div>
        <!--End Wrapper for Slides-->
    </div>
</section>