<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title><%=title%> | Glorious Corp</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png" />

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

    <!--Bootstrap Stylesheet-->
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <!--Font Awesome Stylesheet-->
    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.css">
    <!--Popup Stylesheet-->
    <link rel="stylesheet" type="text/css" href="/public/css/popup.css">
    <!--Animate Stylesheet-->
    <link rel="stylesheet" type="text/css" href="/public/css/animate.css">
    <!--Country Flags Styleshee -->
    <link rel="stylesheet" type="text/css" href="/public/css/flags.css">
    <!--Main Stylesheet-->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <!--Responsive Stylesheet-->
    <link rel="stylesheet" type="text/css" href="/public/css/responsive.css">
    <!-- Style Color Switcher Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/public/css/switcher-colors.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>

<body>
    <div class="site-preloader">
        <!--Satrt Site Preloader-->
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--End Site preloader-->

    <div class="site-wrapper">
        <!-- Start Site Wrapper -->
        <% include ../partials/header %>
        <!--End Header-->

        <div class="clearfix"></div>
        <% include ../partials/slides %>
        <!--End Slider Section-->



        <div class="clearfix"></div>
        <section class="service">
            <!--Start Service Section-->
            <div class="container">
                <!--Start Conatiner-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="text-center">WHY CHOOSE GLORIOUS</h2>
                            <h1 class="text-center">AWESOME SERVICES</h1>
                            <div class="title-bottom-line"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--Start Service Item First Row-->
                    <div class="col-sm-4">
                        <!--Start Service Item-->
                        <div class="service-iteam">
                            <div class="service-icon"><i class="fa fa-rocket"></i></div>
                            <h1 class="text-center"><span>B2B</span> SERVICES</h1>
                            <p class="text-center">The Corporation was incorporated in Canada on December 24, 2015, under the name Glorious Creation Limited, and was registered as an extraprovincial company in British Columbia on January 28, 2016.</p>
                            <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <!--End Service Item-->

                    <div class="col-sm-4">
                        <!--Start Service Item-->
                        <div class="service-iteam">
                            <div class="service-icon"><i class="fa fa-cubes big"></i></div>
                            <h1 class="text-center"><span>DAILY</span> SERVICES</h1>
                            <p class="text-center">The Corporation was incorporated in Canada on December 24, 2015, under the name Glorious Creation Limited, and was registered as an extraprovincial company in British Columbia on January 28, 2016.</p>
                            <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <!--End Service Item-->

                    <div class="col-sm-4">
                        <!--Start Service Item-->
                        <div class="service-iteam">
                            <div class="service-icon"><i class="fa fa-server"></i></div>
                            <h1 class="text-center"><span>24/7</span> SERVICES</h1>
                            <p class="text-center">The Corporation was incorporated in Canada on December 24, 2015, under the name Glorious Creation Limited, and was registered as an extraprovincial company in British Columbia on January 28, 2016.</p>
                            <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <!--End Service Item-->
                </div>
                <!--End Service Item First Row-->

                <div class="row">
                    <!--Start Service Item Second Row-->
                    <div class="col-sm-4">
                        <!--Start Service Item-->
                        <div class="service-iteam">
                            <div class="service-icon"><i class="fa fa-cogs big"></i></div>
                            <h1 class="text-center"><span>B2B</span> SERVICES</h1>
                            <p class="text-center">The Corporation was incorporated in Canada on December 24, 2015, under the name Glorious Creation Limited, and was registered as an extraprovincial company in British Columbia on January 28, 2016.</p>
                            <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <!--End Service Item-->

                    <div class="col-sm-4">
                        <!--Start Service Item-->
                        <div class="service-iteam">
                            <div class="service-icon"><i class="fa fa-calendar"></i></div>
                            <h1 class="text-center"><span>B2B</span> SERVICES</h1>
                            <p class="text-center">The Corporation was incorporated in Canada on December 24, 2015, under the name Glorious Creation Limited, and was registered as an extraprovincial company in British Columbia on January 28, 2016.</p>
                            <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <!--End Service Item-->

                    <div class="col-sm-4">
                        <!--Start Service Item-->
                        <div class="service-iteam">
                            <div class="service-icon"><i class="fa fa-life-ring"></i></div>
                            <h1 class="text-center"><span>B2B</span> SERVICES</h1>
                            <p class="text-center">The Corporation was incorporated in Canada on December 24, 2015, under the name Glorious Creation Limited, and was registered as an extraprovincial company in British Columbia on January 28, 2016.</p>
                            <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <!--End Service Item-->
                </div>
                <!--End Service Item Second Row-->
            </div>
            <!--End Conatiner-->
        </section>
        <!--End Service Section-->


        <div class="clearfix"></div>
		<% include ../partials/footer %>
        <!--End Footer Section-->
       

    </div>
    <!-- End Site Wrapper -->

    <!-- jQuery JS -->
    <script src="/public/js/jquery.min.js"></script>
    <!-- Waypoints JS -->
    <script src="/public/js/waypoints.js"></script>
    <!-- Magnific JS -->
    <script src="/public/js/jquery.magnific-popup.js"></script>
    <!-- Country Select JS -->
    <script src="/public/js/jquery.flagstrap.js"></script>
    <!-- Counterup JS -->
    <script src="/public/js/jquery.counterup.min.js"></script>
    <!-- Bootstrap JS -->
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <!-- Main JS -->
    <script type="text/javascript" src="/public/js/main.js"></script>
</body>


<!-- Mirrored from idealbrothers.thesoftking.com/HTML/shost/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 19 May 2017 06:57:51 GMT -->
</html>
